body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background: #fcfcfc;
	color: #232129;
	transition: 0.1s;
	width: 100%;
	overflow-x: hidden;
}	
.pclogo {
	width: 220px;
	height: 76px;
}
header {

    background: #1f104a;
    display: block;
    height: 80px;
    transition: 0.1s;
    z-index: 10000;
    position: relative;
}
nav {
	padding-left: 15%;
    padding-right: 15%;
    z-index: 2;
    background: #1f104a;
}
header img {
	display: inline;
	margin: auto;
}

nav div {
	display: inline-flex;
}

nav div ul {
	list-style-type: none;
	margin: auto;
	padding-left: 20px;
	display: inline-table;
}
nav div li {
	font-size: 20px;
	color: white;
	padding: 29px 30px 28px 30px;
	display: inline;

}
nav div ul a {
	text-decoration: none;
	color: #f2f2f2;
	transition: color 0.5s;
}

nav div li a:hover {
	color: white;
}
nav div li:hover { 
	background-color: #331f6b;
}

.price {
	color: #02D16E;
	font-weight: 600;
	font-family: 'Ubuntu', sans-serif;
}

.rec table, .rec td, .rec th {
	padding: 5px 0px 5px 5px;
	width: 31%;
}
.menuicon {
	display: none;
	height: 80px;
	float: right;
	width: 80px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.menuicon > .line {
	background: white;
	height: 3px;
	width: 40px;
	margin: 5px;
	transition: 0.3s ease-in-out;
}
#line-1 {
	transform-origin: left top;
}
#line-3 {
	transform-origin: left bottom;
}
#line-1.active {
    transform: rotate(45deg);
    width: 38px;
}
#line-2.active {
	opacity: 0;	
}
#line-3.active {
    transform: rotate(-45deg);
    width: 38px;
}
@media only screen and (max-width: 1128px) {
	nav {
		margin: 0;
		padding: 0;
	}
	.navul {
		display: none;
	}
	.menuicon {
		display: flex;
	}
	.navigation {
		margin-left: 6px;
	}
	#back {
		margin-left: calc(100% - 70px) !important;
		margin-top: 20px !important;
	}
}

.center {
	margin-left: 15%;
	margin-right: 15%;
}
.info {
	display: block;
}
.info p {
	color: #888191;
}
.info p strong {
	color: #232129;
}
.info .question {
	color: #232129;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
.centerinfo {
	margin-top: 2%;
	margin-right: 15%;
	margin-left: 15%;
}
.centerinfo h2 {
	font-weight: 600;
}
 {
	background-color: #f2f2f2;
	padding-bottom: 3%;
}
.info a {
	text-decoration-line: none;
	color: #232129;
	font-weight: 600;
}
.info a:hover {
	color: #02D16E;
}
.indextablespacing {
	margin-top: 5%;
}
.indexUlDiv {
	text-align: center;
}
.indexUl {
	display: inline;
	text-align: center;

}
.indexUl li {
	display: inline-block;
	width: 350px;
	text-align: left;
	height: 300px;
	vertical-align: text-top;
	margin-left: 3%;
	margin-right: 3%;
}
.indexUl img {
	height: 55%;
	text-align: left;
}
.indexUl h3 {
	font-size: 20px;
	text-align: left;
}
.indexUl p {
	font-size: 17px;
	color: #888191;
	text-align: left;
}
@media only screen and (max-width: 1358px) {
	.indexUl li {
		display: inline-block;
		text-align: center;
		margin: 0;
	}
	.indexUl h3 {
	text-align: center;
	display: block;
	width: 100%;
	}
	.indexUl p {
	text-align: center;
	display: block;
	width: 100%;
	}
	.indexUlDiv {
	text-align: center;
	}
	.indexUl {
		padding: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 1075px) {
	.indexUl li {
		width: 100%;
	}
}

#menu {
	background-color: #100826;
	height: 480px;
	position: absolute;
	z-index: -1;
	width: 100%;
	text-align: center;
	transition: 0.5s ease-in-out;
	top: -400px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
#content {
	transition: .3s;
	position: relative;
	width: 100%;
}
#menu > ul {
	list-style-type: none;
	margin: 40px;
	display: inline-block;
	padding-left: 0px;
	width: 100%;
}
#menu ul li {
	padding: 20px;
	color: white;
	font-size: 20px;
	transition: 0.1s;
}
#menu ul a {
	text-decoration: none;
}
#menu ul li:hover {
	
}
#menu > ul > hr {
	border: 2px solid #1f104a;
	width: 50%;
}
#recomList {
	display: flex;
	text-align: center;
	padding: 0;
	flex-wrap: wrap;
	width: 100%;
}
.recomItem {
	vertical-align: text-top;
	display: inline-block;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	width: 33.3333%;
}

@media only screen and (max-width: 1380px) {

	.recomItem {
		width:  50%;
	}

}
@media only screen and (max-width: 1030px) {
	.recom-content {
		display: block !important;
		margin:  0 !important;
	}
}
@media only screen and (max-width: 1030px) {
	.recomItem {
		width: 100%;
	}
	#search-button {
		margin-left: calc(100% - 77.95px);
	}
}
@media only screen and (max-width: 380px) {
	#recom-search {
		width: 100%;
		min-width: 0 !important;
		box-sizing: border-box;
	}
}
.recomItem img {
	height: 280px;
	vertical-align: middle;
	transition: 0.4s;
}
.recomItem p {
	display: block;
	vertical-align: middle;
}
.pcname {
	font-weight: 600;
	color: #232129;
}
.recomspacing {
	margin-top: 3%;
}
.recomUl hr {
	border: 1px solid #ccc;
	width: 90%;
}
.recomItem img:hover {
	transform: scale(1.1);
}
.colordecor1 {
	background-color: #f2f2f2;
	padding-bottom: 2%;
}

.indexgpuad {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}
.indexgpuad li {
	display: inline-block;
	vertical-align: middle;
}
.indexgpuimgli img {
	height: 700px;
}
.indexgputextli {
	vertical-align: middle;
	color: #fff;
}
.indexgputextli p {
	margin-top: 0;
	color: #eee;
}
.indexgputextli h1 {
	margin-bottom: 8px;
}
.indexgputext h1 {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 1px;
}


.indexgpuadbg {
	background-color: #f2f2f2;
	background-image: url(gpu-ad-bg.png);
	background-repeat: repeat-x;
	background-position: center;
}
.colordecor2 {
	background-color: #f2f2f2;
	padding-bottom: 2%;
	padding-top: 2%;
}
.indexgputextlidiv {
	text-align: left;
	display: inline;
}
.indexgpuadtextul {
	display: inline-block;
	text-align: left;
	list-style-type: none;
	vertical-align: middle;
	padding-left: 0px;
	text-align: left;
	margin: 0;
	width: 42%;
}
.indexgpuadimgul {
	display: inline-block;
	text-align: right;
	width: 57%;
	padding: 0;
	margin: 0;
}
@media only screen and (max-width: 580px) {
	.indexgpuadbg {
	background-color: white;
	background-image: url(gpu-ad-bg-big.png);
	background-position: top;
	background-repeat: repeat;
	width: 100%;
	margin: 0;
	overflow: hidden;
	}
	.indexgpuadtextul {
		text-align: center;
		display: block;
		width: 100%;
	}
	.indexgpuadimgul {
		width: 100%;
		height: auto;
		text-align: center;
		display: block;
	}
	.indexgpuimg img {
		width: 100%;
		height: auto;
	}
	.colordecor2 {
		background-color: white;
		width: 100%;
	}
}

.indexpcad {
	display: block;
	background-color: #02D16E;
	background-repeat: repeat;
	background-position: center;
}
.indexpcadtextul {
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
	margin-left: 3%;
	width: 32%;
	color: white;
}
.indexpcadtextul p {
	color: #eee;
}
.indexpcadtext h1 {
	font-family: 'recomUlbuntu', sans-serif;
	letter-spacing: 1px;
}
.indexpcadimgul {
	display: inline-block;
	text-align: right;
	width: 64%;
	padding-left: 0;
}
.indexpcad li {
	display: inline-block;
	vertical-align: middle;
}
.indexpcad > div > ul > li > p {
	margin-bottom: 35px;
}
.indexpcad > div > ul > li > a {
	padding: 15px;
	background: #1f104a;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 10px;
}
.indexpcad > div > ul > li > a:hover {
	background-color: #331f6b;
}
.indexpcadimg img {
	width: 400px;
}
.indexpcadimg {
	text-align: right;
	width: 97%;
}
.indexpcadtext {
	vertical-align: middle;
}
.indexpcadcontent {
	margin-left: 15%;
	margin-right: 15%;
}
@media only screen and (max-width: 697px) {
	.indexpcadtextul {
		text-align: center;
		display: block;
		margin: 0;
		width: 100%;
	}
	.indexpcadimgul {
		display: block;
		width: 100%;
	}
	.indexpcadimg {
		text-align: center;
	}
}
@media only screen and (max-width: 490px) {
	.indexpcadimg img {
		width: 100%;
	}
	}

@media only screen and (max-width: 325px) {
	header {
		height: 3%;
	}
	nav {
		width: 100%;
	}
	.pclogo {
		vertical-align: middle;
		width: 100%;
	}
	.navigation {
		vertical-align: middle;
		display: inline-block;
		height: 100%;
		width: 66%;
	}
	.menuicon {
		display: inline;
		width: 31%;
	}
}
@media only screen and (max-width: 1300px) {
	.recomUl {
		display: inline-block;
		margin: 0;
		padding: 0;
	}


}
footer {
	display: flex;
	height: 120px;
	margin-right: 15%;
	margin-left: 15%;
	align-items: center;
	justify-content: space-between;
}
footer > ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-right > li {
	display: inline;
	padding: 0 20px;
}
.footer-right > li > a {
	color: black;
}
.pclisting {
	display: flex;

}
#product-area {
	display: none;
}

#pcnamephone {
	display: none;
	text-align: center;
}
@media only screen and (max-width: 1128px) {
	#product-area {
		flex-direction: column;
	}
	#pcnameproduct {
		display: none;
	}
	#pcnamephone {
		display: block;
	}
	.product-image {
		flex: none !important;
	}
	.product-text-area {
		display: block !important;
		font-size: 20px;
	}	
	footer {
		flex-direction: column;
	}
	footer > ul > li {
		display: block !important;
		padding: 15px !important;
		text-align: center;
	}
	.footer-left {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 760px) {
	.product-image {
		height: 300px !important;
	}
}
.product-image {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}
.product-text-area {
	flex: 50%;
	display: flex;
	align-items: center;
	text-align: center;
}
.order-button {
	font-size: 20px;
	padding: 15px 30px;
	background: #02D16E;
	color: white;
	outline: none;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}
.order-button:active {
	background: #02b860;
}
a {
	text-decoration: none;
}
#back {
	display: none;
	margin-left: calc(85% - 40px);
	margin-top: 40px;
	cursor: pointer;
	height: 2.5em;
	margin-right: 15%;
	margin-bottom: 5px;
}
#recommendations {
	display: inline-block;
	margin-left: 15%;
	margin-top: 40px;
}
.product-text-p {
	display: inline-block;
	text-align: left;
}

#menu.active {
	transform: translateY(300px);
}
#mc_embed_signup {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
#mc_embed_signup_scroll {
	display: flex;
	flex-direction: column;
	text-align: center;
}
#mc_embed_signup_scroll > label {
	font-size: 40px;
	margin-bottom: 20px;
}
#mc_embed_signup_scroll > input {
	width: 450px;
	height: 50px;
	border-radius: 30px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid #f2f2f2;
	font-size: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}
#mc_embed_signup_scroll > div > input {
	width: 200px;
	height: 50px;
	border-radius: 25px;
	outline: none;
	font-size: 20px;
	cursor: pointer;
	border: none;
	background: #02D16E;
	color: white;
}
#mc_embed_signup_scroll > div > input:active {
	background: #02b860;
}
.subscribeThank {
	width: 100%;
	height: 300px;
	text-align: center;
	display: none;
}
.subscribeThank > p {
	color: #232129;
	font-size: 50px;
	line-height: 300px;
}
.recom-content {
	display: flex;
	margin: 0 10% 0 5%;
}
#recom-search {
	background: rgba(0, 0, 0, 0.03);
	padding: 40px;
	min-width: 300px;
	height: 100%;
}
.price-search > select {
	width: 100%;
	height: 30px;
	font-family: 'Raleway', sans-serif;
}
.price-range-values {
	display: inline-block;
	width: 40%;
	text-align: center;
}
.price-range-values-div {
	display: flex;
	justify-content: space-between;
}
.price-range-values-div > input::-webkit-outer-spin-button,
.price-range-values-div > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-range-values-div > input[type=number] {
  -moz-appearance: textfield;
}
.ui-slider-handle {
	outline: none;
	border-radius: 50% !important;
	background: #02D16E !important;
	border: none !important;
	height: 20px !important;
	width: 20px !important;
	top: calc(-50% - 2px) !important;
}
.ui-slider-range {
	background: #02D16E !important;
	border: none !important;
}
.ui-slider {
	background: #ccc !important;
	border: none !important;
	border-radius: 5px !important;
	height: 8px !important;
}
#search-button {
	margin-top: 19px;
	padding: 10px 15px;
	background: #02D16E;
	font-size: 15px;
	border: none;
	color: white;
	font-family: 'Raleway', sans-serif;

}
@media only screen and (max-width: 490px) {
	#mc_embed_signup_scroll > label {
		font-size: 2em;
	}
	#mc_embed_signup_scroll > input {
		max-width: 100%;
		width: 90%;
		margin: 0 5% 10% 5%;
	}
	#mc_embed_signup_scroll {
		width: 100%;
	}
	#mc_embed_signup_scroll > div > input {
		width: 70%;
	}
}

