body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #f0f0f0;
	color: #222;
	transition: 0.1s;
}	
.pclogo {
	width: 220px;
	height: 76px;
}
header {

    background: #1f104a;
    padding: 10px 5px 10px 0px;
    display: block;
    height: 77px;
    transition: 0.1s;
}
nav {
	margin-left: 15%;
    margin-right: 15%;
}
header img {
	display: inline;
	margin: auto;
}

nav div {
	display: inline-flex;
}

nav div ul {
	list-style-type: none;
	margin: auto;
	padding-left: 20px;
	display: inline-table;
}
nav div li {
	font-size: 20px;
	color: white;
	padding: 20px 30px;
	display: inline;
	margin: 5px;
	border-radius: 5px;
	background-color: #02D16E;
	transition: background-color 0.5s;

}
nav div ul a {
	text-decoration: none;
	color: #f2f2f2;
	transition: color 0.5s;
}

nav div li a:hover {
	color: white;
}
nav div li:hover { 
	background-color: #00b860;
}


.rec {
	text-align: center;
}

table.rec {
	width: 100%;
	table-layout: fixed;
}

.photo {
 	transition: transform .2s;
 	width: 200px;
 	height: 200px;
 }

.photo:hover {
	transform: scale(1.2);
}

.itemname {
}

.price {
	color: #02D16E;
}

.rec table, td, th {
	padding: 5px 0px 5px 5px;
	width: 31%;
}

.center {
	margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border: 2px solid #e3e3e3;
    padding: 5px 15px;
   	transition: 0.1s;
}
.info .question {
	font-size: 20px;
	font-weight: 550;
}
footer {
	text-align: right;
	margin-left: 15%;
    margin-right: 15%;
}
footer ul {
	list-style-type: none;
	display: inline;
}
footer p {
	display: inline;
	margin: none;
	position: relative;
	bottom: 10px;
	font-weight: 400;
	right: 3px;

}
input.dark {
			position: relative;
			width: 50px;
			height: 25px;
			-webkit-appearance: none;
			outline: none;
			background: #333;
			border-radius: 12.5px;
			border: 2px solid #666;
		}
		input.dark:checked {
			background: #555;
		}
		input.dark:before {
			content: "";
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 12.5px;
			background: #666;
			top: -2px;
			left: -2px;
			transition: 0.3s;

		}
		input.dark:checked:before {
			left:23px;
		}
body.darkmode {
	background: #111;
	color: #f0f0f0;
}
header.darkmode {
	background: #0b051c;
}
div.darkmodecenter {
	margin-left: 15%;
    margin-right: 15%;
    background-color: #333;
    border: 2px solid #222;
    padding: 5px 15px;
    transition: 0.1s;
}